.orderlist {
    width: 600px;
    height: auto;
    margin: auto;
}

.orderlist table.ordertable {
    width: 600px;
    border-radius: 5px;
    border-spacing: 0px;
}

.orderlist td:first-child {
    width: 400px;
}

.orderlist tr {
    height: 40px;
    text-align: center;
    position: relative;
}

.title-choose {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    font-size:100%;
    /*position: relative;*/
    /*left: 550px;*/
}
.title-choose span {
    color: slategray;
}

.cur {
    color: brown;
}
.cur2 {
    color: brown;
}


.order-all {

}
.order-title table.order-title-table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.order-title table.order-title-table th{
    height: 50px;
    text-align: center;
}
.order-title table.order-title-table th:first-child{
    border-top-left-radius:6px;
    width: 400px;
}
.order-title table.order-title-table th:last-child{
    border-top-right-radius:6px;
}


.order-submit {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.order-point {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 300px;
    line-height: 200px;
}
.order-point span{
    font-size: large;
}